body {
  background: url("res.jpg");
  background-repeat: no-repeat;
  background-size: 1900px 1100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-box {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);

  background: url() center center;
  background-size: cover;

  color: white;
  min-height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: box-shadow 0.3s ease-out;
}
.image-box:hover {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: white;
  width: 300px;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.container {
  padding: 2px 16px;
  color: black;
}

.container img {
  width: 100%;
}

h3 {
  font-size: 3.5em;
  font-family: "Easy script";
  margin-bottom: 0;
}

.class-subheading {
  text-align: center;
  margin-bottom: 50px;
}
.class-subheading a {
  font-family: "Easy script";
  font-size: 2em;
}

.container {
  padding: 2px 16px;
  color: black;
}

.container img {
  width: 100%;
}

h3 {
  font-size: 3.5em;
  font-family: "Easy script";
  margin-bottom: 0;
}

.class-subheading {
  text-align: center;
  margin-bottom: 50px;
}
.class-subheading a {
  font-family: "Easy script";
  font-size: 2em;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  height: 500px;
  margin-right: auto;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 500px;
  margin-left: auto;
}

@media only screen and (max-width: 100px) {
  body {
    background-color: lightblue;
  }
}
